*{
	margin: 0;
	padding: 0;
}
body{
	min-height: 100vh;
	background-color: #d4fff6;
	font-family: Courier New;
}
nav{
	background-color: #ffefc2;
	box-shadow: 3px 3px 5px
	rgba(0, 0, 0, 0.1);
}
nav ul{
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
nav li{
	height: 50px;
}
nav a{
	height: 100%;
	padding: 0 10px;
	text-decoration: none;
	display: flex;
	align-items: center;
	color: black;
}
nav a:hover{
	background-color: #ffe499;
}
nav li:first-child{
	margin-right: auto;
}
.box{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	width: auto;
	height: 375px;
	background-color: white;
	border: 1px solid black;
	border-radius: 20px;
	margin: 50px;
	padding: min(5em, 8%);
}
h1{
	font-size: 50px
}
p{
	font-size:25px
}
button{
	display: flex;
	align-items: center;
	position: relative;
	width: 260px;
	height: 70px;
	background-color: white;
	border: 1px solid black;
	border-radius: 20px;
	margin-left: 10px;
	text-decoration: none;
	font-size: 25px;
	cursor: pointer;
}
button a{
	text-decoration: none;
	color: black;
	padding-left: 10px;
	font-family: Courier New;
}
button i{
	padding-left: 5px;
	padding-right: 5px;
}
button:hover{
	background-color: #d4d4d4;
}
#p{
	padding-top: 10px;
}
.key{
	width: 50px;
	height: 50px;
	background-color: #94CDFF;
}
.key:hover{
	background-color: #C2EBFF;
}
#keys{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	padding: 25px;
}
#calculator{
	font-family: Arial, sans-serif;
	background-color: #577BFF;
	border-radius: 10px;
	max-width: 400px;
	height: 350px;
	overflow: hidden;
}
#display{
	width: 100%;
	padding: 20px;
	text-align: left;
	background-color: #DDE3FD;
	border: none;
}
#caution{
	text
}